* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        padding: 0 20px;
    }
}

/* header css begin */

.header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner .logo h1 {
    font-family: "Open Sans", sans-serif;
}

.header-inner .search input[type="text"] {
    padding-left: 55px;
    outline: none;
    border-radius: 30px;
    border: 1px solid transparent;
    font-family: "Open Sans", sans-serif;
    transition: all 0.4s ease;
    font-size: 18px;
    width: 0px;
    height: 55px;
    box-sizing: border-box;
}

.header-inner .search input[type="text"]::placeholder {
    color: #ffffff;
}

.search label:hover input[type="text"] {
    width: 220px;
    height: 55px;
    border: 1px solid transparent;
    background-color: gray;
}

.search label {
    position: relative;
}
.search span {
    position: absolute;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #8f44fd;
    top: -17.9px;
    left: 3px;
    padding: 0;
    text-align: center;
}

.search span img {
    padding-top: 12px;
}

@media screen and (max-width: 700px) {
    .header .header-inner {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
    }

    .search span {
        top: -16.9px;
    }
}
/* header css end */

/* main css begin */

.main-inner .products {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -99;
}

.main-inner .notFound {
    font-size: 20px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #6161ce;
}

.main-head {
    flex-basis: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
    color: rgb(255, 94, 0);
}

.main-inner .product-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #8f44fd;
    box-shadow: 4px 3px 21px 2px rgba(0, 0, 0, 0.82);
    align-items: center;
    flex-basis: 25%;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.main-inner .prod-img {
    flex-basis: 100%;
}

.prod-img img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.main-inner .product-head .prod-name {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.main-inner .prod-info {
    margin-bottom: 20px;
}

.prod-info .information {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgb(255, 94, 0);
    color: #fff;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    transition: all 0.4s ease;
}

.prod-info .information::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 40px;
    top: 0;
    left: 0;
    transform: translateX(-150px);
    background: rgb(6, 102, 227);
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s ease;
}

.prod-info .information:hover::before {
    transform: translateX(0);
}

.products-detail {
    position: fixed;
    z-index: 100;
    width: 60%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 4px 3px 21px 2px rgba(0, 0, 0, 0.82);
    background: rgb(255, 94, 0);
    border-radius: 15px;
    display: none;
}

.recipe-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    transition: transform 0.4s ease;
    padding: 0 30px;
}

.products-detail::-webkit-scrollbar {
    width: 5px;
    overflow: hidden;
}
.products-detail::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}

.products-detail::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 20px;
}

.products-detail::-webkit-scrollbar-thumb:hover {
    background: rgb(211, 75, 75);
}

.recipe-modal .instructions {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.recipe-header .prod-name {
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
}

.products-detail .close {
    position: absolute;
    top: 2%;
    right: 3%;
    background: none;
    border: none;
    font-size: 30px;
    color: #ffffff;
}

.recipe-modal .meal-img img {
    width: 400px;
    border-radius: 50%;
}

/* loader css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.loader {
    position: relative;
    width: 400px;
    height: 10px;
    background: #e9ecef;
    border-radius: 50px;
    display: none;
}

.loader::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8338ec;
    border-radius: 100px;
    transform-origin: left;
    box-shadow: 0 0 30px 4px #7371fc;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0%,
    20% {
        transform: scaleX(0);
    }
    40% {
        transform: scaleX(1);
        transform-origin: left;
    }
    40.00001%,
    60% {
        transform: scaleX(1);
        transform-origin: right;
    }
    70%,
    100% {
        transform: scaleX(0);
        transform-origin: left;
    }
}
/* loader css end */

@media screen and (max-width: 800px) {
    .products {
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }

    .main-head {
        font-size: 25px;
    }

    .main-inner .product-card {
        width: 80%;
    }

    .recipe-modal .meal-img img {
        width: 200px;
    }

    .products-detail {
        top: 60%;
        width: 80%;
    }

    .loader-container .loader {
        width: 250px;
    }
}

/* main css end */
