* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

@media screen and (max-width:700px) {
    .container{
        padding:0 30px;
    }
}

@media screen and (max-width:1200px) {
    .container{
        padding: 0 20px;
    }
}

/* header css begin */

.header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner .logo h1 {
    font-family: "Open Sans", sans-serif;
}

.header-inner .search input[type="search"] {
    padding-left: 55px;
    outline: none;
    border-radius: 30px;
    border: 1px solid transparent;
    font-family: "Open Sans", sans-serif;
    transition: all 0.4s ease;
    font-size: 18px;
    width: 0px;
    height: 55px;
    box-sizing: border-box;
}

.header-inner .search input[type="search"]::placeholder {
    color: #ffffff;
}

.search label:hover input[type="search"] {
    width: 220px;
    height: 55px;
    border: 1px solid transparent;
    background-color: gray;
}

.search label {
    position: relative;
}
.search span {
    position: absolute;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #8f44fd;
    top: -18.3px;
    left: 2px;
    padding: 0;
    text-align: center;
}

.search span img {
    padding-top: 12px;
}

/* header css end */

/* main css begin */

.main-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.main-inner .main-head{
    flex-basis: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
}

.main-inner .product-card{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #8f44fd;
    box-shadow: 4px 3px 21px 2px rgba(0,0,0,0.82);
    align-items: center;
    /* width: 350px; */
    flex-basis:25% ;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.main-inner .prod-img{
    width: 100%;
}

.prod-img img{
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.main-inner .product-head .prod-name{
    font-size: 20px;
    font-weight: 400;
}

.main-inner .prod-info{
    margin-bottom: 20px;
}

.prod-info .information{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgb(255, 94, 0);
    color: #fff;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease;
}

.prod-info .information::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 40px;
    top: 0;
    left: 0;
    transform: translateX(-150px);
    background:rgb(6, 102, 227);
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s ease;

}

.prod-info .information:hover::before{
    transform: translateX(0);
}

@media screen and (max-width:700px) {
    .main-inner{
        flex-direction: column;
        align-items: center;
    }
}

/* main css end */